@use '@/assets/scss/utils/variables' as *;
@use '@/assets/scss/utils/breakpoints' as *;

/* Category grid section styles */
.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 364px 182px 158px repeat(2, 182px);
  gap: 24px;

  padding: 0 $section-x-padding;

  @media screen and (min-width: $medium) {
    padding: 0 40px;
  }

  @media screen and (min-width: $large) {
    padding: 0 165px;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 182px 158px 182px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    grid-template-rows: 182px 158px;
  }

  @media screen and (min-width: $extra-large) {
    padding: 0 $extra-padding;
  }
}
