@use '@/assets/scss/utils/variables' as *;
@use '@/assets/scss/utils/breakpoints' as *;

/* Index header section styles */
.index-header {
  &__texts-section {
    padding: 32px $section-x-padding;

    font-family: $plus-jakarta;
    text-align: center;

    @media screen and (min-width: $medium) {
      padding: 64px 40px;
    }

    @media screen and (min-width: $large) {
      padding: 66px 167px 80px 167px;
    }

    @media screen and (min-width: $desktop) {
      padding: 66px 344px 80px 334px;
    }
  }

  &__heading {
    margin-bottom: 16px;

    font-size: 2.25rem;
    color: $black;

    @media screen and (min-width: $tablet) {
      margin-bottom: 27px;

      font-size: 2.75rem;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 23px;

      font-size: 3.5rem;
    }
  }

  &__under-heading-text {
    padding: 0 29px;

    line-height: 26px;
    color: $gray;

    @media screen and (min-width: $tablet) {
      padding: 0 59px;

      line-height: 28px;
      font-size: 1.125rem;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 11px;
    }
  }
}
