@use '@/assets/scss/utils/variables' as *;
@use '@/assets/scss/utils/breakpoints' as *;

/* Illustration card component styles */
.illustration-card {
  position: relative;

  border-radius: 8px;

  &__card-heading {
    position: absolute;
    left: 24px;
    bottom: 24px;

    font-family: $plus-jakarta;
    font-weight: 700;
    font-size: 1.5rem;
    color: $white;
  }

  &__illustration {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &--light-purple {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    background-color: $light-purple;

    @media screen and (min-width: $tablet) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }

  &--orange {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: $orange;

    @media screen and (min-width: $tablet) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--light-pink {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: $light-pink;

    @media screen and (min-width: $tablet) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  &--dark-orange {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    background-color: $dark-orange;

    @media screen and (min-width: $tablet) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }
  }

  &--cyan {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    background-color: $cyan;

    @media screen and (min-width: $tablet) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    @media screen and (min-width: $desktop) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
  }

  &--dark-purple {
    grid-column: 1 / 3;
    grid-row: 5 / 6;

    background-color: $dark-purple;

    @media screen and (min-width: $tablet) {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }

    @media screen and (min-width: $desktop) {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
  }
}
