// === COLORS ===

$light-purple: #755CDE;
$orange: #F6A560;
$light-pink: #F39E9E;
$dark-orange: #EB7565;
$cyan: #61C4B7;
$dark-purple: #552049;
$black: #030303;
$gray: #7A746E;
$white: #FFF7F0;

// =====================================

// === FONTS ===

$plus-jakarta: 'Plus Jakarta Sans', sans-serif;

// =====================================
